.sub-movie-grid {
 display: grid;
 grid-template-columns: auto 4% auto 4% auto;
 color: white;
 width: 20%;
 font-size: 12px;
}

.genre-grid {
 display: grid;
 grid-gap: 10px;
 grid-template-columns: auto auto auto;
 width: 25%;
 margin-top: 30px;
}

.plot-text {
 font-size: 14px;
 color: white;
 margin-top: 20px;
}

hr {
 color: white;
}

.detail-movie-grid {
 display: grid;
 grid-gap: 10px;
 grid-template-columns: 50% 50%;
}

.detail-movie-wrapper {
 display: grid;
 grid-gap: 10px;
 grid-template-columns: 50% 50%;
}

.label-detail {
 font-weight: 700;
 color: white;
}

.movie-detail {
 color: white;
}

.watchlist {
 margin-left: 20%;
 margin-top: 50px;
 text-align: left;
}